<ion-header>
    <ion-toolbar>
        <div *ngIf="isUserEditable; then addUserTitle else editUserTitle"></div>
        <ng-template #addUserTitle>
            <ion-title>
                <ion-icon name="create"></ion-icon>
                Edit user
            </ion-title>
        </ng-template>
        <ng-template #editUserTitle>
            <ion-title>
                <ion-icon name="add"></ion-icon>
                Add a new user
            </ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label position="floating">
            Firstname
        </ion-label>
        <ion-input [(ngModel)]="currentFirstname" [formControl]="userForm.controls.firstnameInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Lastname
        </ion-label>
        <ion-input [(ngModel)]="currentLastname" [formControl]="userForm.controls.lastnameInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Email
        </ion-label>
        <ion-input [(ngModel)]="currentEmail" [formControl]="userForm.controls.emailInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Password
        </ion-label>
        <ion-input [(ngModel)]="currentPassword" [formControl]="userForm.controls.passwordInputControl"
                   type="password"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Role</ion-label>
        <ion-select placeholder="Select a role" value="1" [disabled]="true">
            <ion-select-option value="1">Developer</ion-select-option>
            <ion-select-option value="2">Manager</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-footer>
        <div *ngIf="isUserEditable; then addUserSaveButton else editUserSaveButton"></div>
        <ng-template #addUserSaveButton>
            <ion-button [disabled]="userForm.invalid" expand="block" color="primary" (click)="editUser()">
                Edit user
            </ion-button>
        </ng-template>
        <ng-template #editUserSaveButton>
            <ion-button [disabled]="userForm.invalid" expand="block" color="primary" (click)="addUser()">
                Add user
            </ion-button>
        </ng-template>
        <ion-button expand="block" color="danger" (click)="dismissModal()"> Cancel</ion-button>
    </ion-footer>
</ion-content>
