<ion-header>
    <ion-toolbar>

        <ion-title>
            <ion-icon name="swap-horizontal-outline"></ion-icon>
            Change manager of {{currentFirstname}} {{currentLastname}}
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label position="floating">
            Firstname
        </ion-label>
        <ion-input [(ngModel)]="currentFirstname" disabled="true" type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Lastname
        </ion-label>
        <ion-input [(ngModel)]="currentLastname" disabled="true" type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Manager</ion-label>
        <ion-select [(ngModel)]="futureManager" [formControl]="managerSelectInputControl">
            <ion-select-option *ngFor="let manager of managers"
                               [value]="manager"> {{manager.firstname + ' ' + manager.lastname}}</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-footer>
        <ion-button [disabled]="managerSelectInputControl.invalid" expand="block" color="primary"
                    (click)="changeManagerUser()">
            Change manager
        </ion-button>
        <ion-button expand="block" color="danger" (click)="dismissModal()"> Cancel</ion-button>
    </ion-footer>
</ion-content>
