<ion-header>

    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your team</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">All users</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-button (click)="addUserModal()" expand="block" *ngIf="!isDeveloper">
        <ion-icon name="add"></ion-icon>
    </ion-button>

    <app-user-list (addUserFromCardEvent)="addUserFromCard()" [userList]="userList$ | async" (selectedUser)="selectedUser($event)"
                   (refresh)="refresh($event)"></app-user-list>
</ion-content>
