<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Your Projects</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <app-project-list [projectList]="projectList$ | async" (selectedProject)="selectedProject($event)"
                      (refresh)="refresh($event)" [isDeveloper]="isDeveloper"></app-project-list>
</ion-content>

<ion-footer>
    <ion-button (click)="addProjectModal()" expand="block" *ngIf="!isDeveloper">
        <ion-icon name="add"></ion-icon>
    </ion-button>
</ion-footer>
