<ion-header>
    <ion-toolbar>
        <div *ngIf="isTimeEditable; then addTimeTitle else editTimeTitle"></div>
        <ng-template #addTimeTitle>
            <ion-title>
                <ion-icon name="create"></ion-icon>
                Edit time {{currentDescription}}
            </ion-title>
        </ng-template>
        <ng-template #editTimeTitle>
            <ion-title>
                <ion-icon name="add"></ion-icon>
                Add a new time
            </ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label position="floating">
            Description
        </ion-label>
        <ion-input [(ngModel)]="currentDescription" [formControl]="timeForm.controls.descriptionInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Duration
        </ion-label>
        <ion-input [(ngModel)]="currentDuration" [formControl]="timeForm.controls.durationInputControl" type="number"
                   placeholder="Must be between 0 and 1. A complete day correspond to 1."></ion-input>
        <ion-text>

        </ion-text>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Creation date
        </ion-label>
        <ion-input [(ngModel)]="creationDate" [disabled]="true" type="string"></ion-input>
        <!-- placeholder="{{currentDate | date:'yyyy-MM-dd'}}" -->
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Process date
        </ion-label>
        <ion-datetime [(ngModel)]="processDate" [formControl]="timeForm.controls.processDateInputControl"
                      displayFormat="YYYY-MM-D" pickerFormat="DD MM YYYY"></ion-datetime>
    </ion-item>


    <ion-footer>
        <div *ngIf="isTimeEditable; then addTimeSaveButton else editTimeSaveButton"></div>
        <ng-template #addTimeSaveButton>
            <ion-button [disabled]="timeForm.invalid" expand="block" color="primary" (click)="editTime()">
                Edit time
            </ion-button>
        </ng-template>
        <ng-template #editTimeSaveButton>
            <ion-button [disabled]="timeForm.invalid" expand="block" color="primary" (click)="addTime(timeForm)">
                Add time
            </ion-button>
        </ng-template>
        <ion-button expand="block" color="danger" (click)="dismissModal()"> Cancel</ion-button>
    </ion-footer>
</ion-content>
