<ion-list *ngFor="let time of timeList; trackBy:trackByFn; let i = index">
    <ion-card>
        <ion-card-header>
            <ion-card-title> {{ time.description }} </ion-card-title>
        </ion-card-header>

        <ion-card-content>

            <ion-grid>
                <ion-row>
                    <ion-col>
                        <h4>
                            <ion-icon name="person"></ion-icon>
                            {{ time.user.firstname }} {{ time.user.lastname }}
                        </h4>

                        <h4>
                            <ion-icon name="time"></ion-icon>
                            Duration : {{ time.duration }}
                        </h4>
                    </ion-col>

                    <ion-col>
                        <h4>
                            <ion-icon name="calendar"></ion-icon>
                            Created : {{ time.creationDate }}
                        </h4>

                        <h4>
                            <ion-icon name="calendar"></ion-icon>
                            Processed : {{ time.processDate }}
                        </h4>

                    </ion-col>
                </ion-row>
            </ion-grid>


        </ion-card-content>

        <ion-button (click)="editTime(time)" *ngIf="isEditable(time.processDate)" size="small" position="floating"
                    color="primary" start>
            <ion-icon name="create"></ion-icon>
        </ion-button>

    </ion-card>
</ion-list>
