<ion-header>
    <ion-toolbar>

        <ion-title>
            <ion-icon name="create-outline"></ion-icon>
            Change role of {{currentFirstname}} {{currentLastname}}
        </ion-title>

    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-item>
        <ion-label position="floating">
            Firstname
        </ion-label>
        <ion-input [(ngModel)]="currentFirstname" disabled="true" type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Lastname
        </ion-label>
        <ion-input [(ngModel)]="currentLastname" disabled="true" type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label>Role</ion-label>
        <ion-select [(ngModel)]="futureRole" [formControl]="roleSelectInputControl" [value]="currentUserRole">
            <ion-select-option value="0">Admin</ion-select-option>
            <ion-select-option value="2">Manager</ion-select-option>
            <ion-select-option value="1">Developer</ion-select-option>
        </ion-select>
    </ion-item>

    <ion-footer>
        <ion-button [disabled]="roleSelectInputControl.invalid" expand="block" color="primary"
                    (click)="changeRoleUser()">
            Change manager
        </ion-button>
        <ion-button expand="block" color="danger" (click)="dismissModal()"> Cancel</ion-button>
    </ion-footer>
</ion-content>
