<ion-header>
    <ion-toolbar>
        <ion-title> User Detail</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="userDetail$ | async as user">

    <ion-card>
        <ion-card-header>
            <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-list>

                <ion-item>
                    <ion-icon name="mail"></ion-icon>
                    <ion-label> {{user.email}}</ion-label>
                </ion-item>

                <ion-item *ngIf="user.role == 1">
                    <ion-icon name="person-outline"></ion-icon>
                    <ion-label>Manager :{{user.manager.firstname}} {{user.manager.lastname}}</ion-label>
                </ion-item>

            </ion-list>
        </ion-card-content>
    </ion-card>

    <ion-item>
        <ion-button
                size="small"
                color="medium"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
        >
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>

        <ion-button
                size="small"
                color="medium"
                mwlCalendarToday
                [(viewDate)]="viewDate"
        >
            Today
        </ion-button>

        <ion-button
                size="small"
                color="medium"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
        >
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}
        <ion-button (click)="generatePDF(user.firstname,user.lastname)" color="danger"> PDF</ion-button>
    </ion-item>

    <ng-template #loading>
        <div class="text-center">
            <i class="fas fa-spin fa-spinner fa-5x"></i> <br/>
            Loading events...
        </div>
    </ng-template>


    <div *ngIf="events$ | async; else loading; let events">
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="eventClicked($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    (dayHeaderClicked)="clickedDate = $event.day.date"
                    (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-day-view>
        </div>
    </div>

    <app-time-list [timeList]="timeList$ | async" (refresh)="refresh($event)"></app-time-list>

</ion-content>
