<article class="card" *ngFor="let user of userList; trackBy:trackByFn; let i = index">


    <img (click)="selectedUser.emit(user.id)"
         src="https://ionicframework.com/docs/demos/api/avatar/avatar.svg"/>

    <ion-card-header (click)="selectedUser.emit(user.id)">
        <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
        <ion-card-subtitle>{{user.email}} </ion-card-subtitle>

    </ion-card-header>
    <ion-card-content (click)="selectedUser.emit(user.id)">
        <ion-list *ngIf="user.role == 1">
            <ion-item>
                Role : Developer
            </ion-item>
            <ion-item>
                Manager :{{user.manager.firstname}} {{user.manager.lastname}}
            </ion-item>
        </ion-list>

        <ion-item *ngIf="user.role == 0">
            Role : Admin
        </ion-item>

        <ion-item *ngIf="user.role == 2">
            Role : Manager
        </ion-item>


    </ion-card-content>
    <ion-card-content class="ion-align-self-center">
        <ion-footer>
            <ion-button class="align-self-end" color="success" (click)="swapManagers(user)" *ngIf="user.role == 1 && loggedUserIsAdmin">
                <ion-icon name="swap-horizontal-outline"></ion-icon>
            </ion-button>
            <ion-button class="align-self-end" (click)="changeRole(user)" *ngIf="loggedUserIsAdmin">
                <ion-icon name="create-outline"></ion-icon>
            </ion-button>
        </ion-footer>
    </ion-card-content>
</article>
<article class="card" *ngIf="isNotDeveloper" (click)="addUserFromCard()">


      <img style="margin-top:20px" src="https://findicons.com/files/icons/2443/bunch_of_cool_bluish_icons/512/add_user.png"/>

    <ion-card-content class="ion-align-self-center">
      <ion-item style="margin-top:30%;">
          <p style="width:100%;text-align:center;">Add a new user</p>
      </ion-item>
      </ion-card-content>
    </article>
