<ion-header>
    <ion-toolbar>
        <div *ngIf="isProjectEditable; then addProjectTitle else editProjectTitle"></div>
        <ng-template #addProjectTitle>
            <ion-title>
                <ion-icon name="create"></ion-icon>
                Edit project {{currentDescription}}
            </ion-title>
        </ng-template>
        <ng-template #editProjectTitle>
            <ion-title>
                <ion-icon name="add"></ion-icon>
                Add a new project
            </ion-title>
        </ng-template>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-item>
        <ion-label position="floating">
            Description
        </ion-label>
        <ion-input [(ngModel)]="currentDescription" [formControl]="projectForm.controls.descriptionInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Company
        </ion-label>
        <ion-input [(ngModel)]="currentCompany" [formControl]="projectForm.controls.companyInputControl"
                   type="string"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">
            Creation date
        </ion-label>
        <ion-input [(ngModel)]="creationDate" [disabled]="true" type="string"></ion-input>
        <!-- placeholder="{{currentDate | date:'yyyy-MM-dd'}}" -->
    </ion-item>

    <ion-footer>
        <div *ngIf="isProjectEditable; then addProjectSaveButton else editProjectSaveButton"></div>
        <ng-template #addProjectSaveButton>
            <ion-button [disabled]="projectForm.invalid" expand="block" color="primary" (click)="editProject()">
                Edit project
            </ion-button>
        </ng-template>
        <ng-template #editProjectSaveButton>
            <ion-button [disabled]="projectForm.invalid" expand="block" color="primary"
                        (click)="addProject(projectForm)">
                Add project
            </ion-button>
        </ng-template>

    </ion-footer>
</ion-content>
