<ion-app>
    <ion-split-pane width="335" contentId="main-content" [when]="slideService.getSplitPane()">
        <ion-menu contentId="main-content" type="overlay" class="menu-custom" menuId="custom">
            <ion-content>

                <ion-img src="https://i.ibb.co/7pB5HTD/tse-logo-small.png" class="logo"></ion-img>

                <ion-list id="inbox-list">
                    <ion-list-header>Time tracker</ion-list-header>
                    <ion-note *ngIf="loggedUser"> Hey {{loggedUser.firstname}} {{loggedUser.lastname}}</ion-note>
                    <ion-note>Manage the planning of your projects</ion-note>


                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
                                  detail="false" [class.selected]="selectedIndex == i" *ngIf="p.permissions">
                            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                            <ion-label>{{ p.title }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>


                    <!--
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPagesProjects; let i = index">
                        <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" [class.selected]="selectedIndex == i">
                          <ion-label>{{ p.name }}</ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    -->

                </ion-list>

                <!--
                <ion-list id="labels-list">
                  <ion-list-header>Labels</ion-list-header>

                  <ion-item *ngFor="let label of labels" lines="none">
                    <ion-icon slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
                    <ion-label>{{ label }}</ion-label>
                  </ion-item>
                </ion-list>
                -->

            </ion-content>

            <ion-footer>
                <ion-button expand="block" color="danger" (click)="logout()">
                    <ion-icon name="exit">
                        Log out
                    </ion-icon>
                </ion-button>
            </ion-footer>

        </ion-menu>
        <ion-router-outlet id="main-content"></ion-router-outlet>
    </ion-split-pane>
</ion-app>
