<ion-list *ngFor="let project of projectList;trackBy:trackByFn;let i = index">
    <ion-card>
        <ion-card-header (click)="emitProjectId($event, project.id)">
            <ion-card-title>{{ project.name }} </ion-card-title>
        </ion-card-header>

        <ion-card-content (click)="emitProjectId($event, project.id)">
            <ion-list>
                <p>Company: {{ project.company }}</p>
                <p>Creation date : {{ project.creationDate |  date:'dd-MM-yyyy' }}</p>
            </ion-list>
        </ion-card-content>

        <ion-button (click)="editProject(project)" size="small" position="floating" color="primary" *ngIf="!isDeveloper"
                    start>
            <ion-icon name="create"></ion-icon>
        </ion-button>

    </ion-card>
</ion-list>
