<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            <ion-icon name="calendar"></ion-icon>
            All your times - {{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}  </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-item>
        <ion-button
                size="small"
                color="medium"
                mwlCalendarPreviousView
                [view]="view"
                [(viewDate)]="viewDate"
        >
            <ion-icon name="arrow-back"></ion-icon>
        </ion-button>

        <ion-button
                size="small"
                color="medium"
                mwlCalendarToday
                [(viewDate)]="viewDate"
        >
            Today
        </ion-button>

        <ion-button
                size="small"
                color="medium"
                mwlCalendarNextView
                [view]="view"
                [(viewDate)]="viewDate"
        >
            <ion-icon name="arrow-forward"></ion-icon>
        </ion-button>
        <ion-button (click)="generatePDF()" color="danger">PDF</ion-button>
    </ion-item>


    <ng-template #loading>
        <div class="text-center">
            <i class="fas fa-spin fa-spinner fa-5x"></i> <br/>
            Loading events...
        </div>
    </ng-template>


    <div *ngIf="events$ | async; else loading; let events">
        <div [ngSwitch]="view">
            <mwl-calendar-month-view
                    *ngSwitchCase="'month'"
                    [viewDate]="viewDate"
                    [events]="events"
                    [activeDayIsOpen]="activeDayIsOpen"
                    (dayClicked)="dayClicked($event.day)"
                    (eventClicked)="eventClicked($event)"
            >
            </mwl-calendar-month-view>
            <mwl-calendar-week-view
                    *ngSwitchCase="'week'"
                    [viewDate]="viewDate"
                    [events]="events"
                    (dayHeaderClicked)="clickedDate = $event.day.date"
                    (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-week-view>
            <mwl-calendar-day-view
                    *ngSwitchCase="'day'"
                    [viewDate]="viewDate"
                    [events]="events"
                    (hourSegmentClicked)="clickedDate = $event.date"
            >
            </mwl-calendar-day-view>
        </div>
    </div>

    <app-time-list [timeList]="timeList$ | async" (refresh)="refresh($event)"></app-time-list>

</ion-content>
